<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet">
  <link rel="stylesheet" href="static/login.css">

  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/sweetalert2.js"></script>

</head>

<body>
  <!-- partial:index.partial.html -->
  <section class='login' id='login'>
    <div class='head'>
      <h1 class='company'>ZeroHate LogIn</h1>
    </div>
    <p class='msg'>Welcome back ZeroHate</p>
    <div class='form'>
      <form>
        <input type="text" placeholder='Email' class='text' id='email' required><br>
        <input type="password" placeholder='Password' class='password' id="psw"><br>
        <button href="#" class='btn-login' id='btn'>Login</button>
        <a href="/registration" class='forgot'>Create Account?</a>
      </form>
    </div>
  </section>


  <script>

    $(function () {
      $('#btn').click(function () {

        var email = $('#email').val();
        var psw = $('#psw').val();

        if (email == "" || psw == "") {
          swal.fire("Login", "Fields are empty!", "warning");

        } else {

          var form_data = new FormData();
          form_data.append('email', email);
          form_data.append('psw', psw);

          $.ajax({
            url: "/user_login",
            enctype: 'multipart/form-data',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            type: 'POST',
          })
            .done(function (data) {
              if (data.redirect) {
                window.location.href = data.redirect;
              }
              else if (data.success) {
                Swal.fire("Login", data.success, "success");
              }
              else if (data.error) {
                Swal.fire("Login", data.error, "warning");
              }
              else {
                Swal.fire("Login", "Some error occur!", "warning");
              }
            });

        }

        event.preventDefault();
      });
    });

  </script>

</body>

</html>